@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 70px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 80px;
}

nav img {
    width: 50px;
    height: 50px;
}

nav .nav-items {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
}

nav .nav-items a {
    color: black;
    text-decoration: none;
    position: relative;
}

nav .nav-items a::before {
    content: "";
    height: 3px;
    width: 0%;
    display: inline-block;
    background-color: black;
    position: absolute;
    bottom: -5px;
    border-radius: 20px;
    transition: width 0.3s linear;
}

nav .nav-items a:hover::before {
    width: 100%;
}

nav .nav-icon {
    display: flex;
    gap: 40px;
}

.contact{
    height: 60px;
    width: 100%;
    background-color: rgb(71,78,78);
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .call,.test-drive{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    svg{
        animation: zoom-up 0.5s linear infinite alternate;
    }
}

@keyframes zoom-up {
    to{
        transform: scale(1.2);
    }
}

.primary-para{
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.home{
    height: 90vh;
    width: 100%;
    background: linear-gradient(90deg, transparent 55%, rgb(202, 172, 124) 55%);
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        width: 450px;
        text-align: center;
        color: black;
    }
    .home-text{
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: center;
    }
}

.primary-para{
    font-family: "Noto Sans", sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
}

.primary-head{
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-size: 4rem;
}

.section-price{
    height: 55vh;
    width: 100%;
    background-color: black;
    display: flex;
    color: white;
    .price-left{
        height: 100%;
        width: 43%;
        margin-top: 30px;
        margin-left: 100px;
        .loc{
            height: 30px;
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 100px;
            border-bottom: 2px solid white;
            margin-top: 10px;
            p{
                font-family: "Noto Sans", sans-serif;
                font-weight: 600;
                font-size: 1.2rem;
                text-transform: uppercase;
            }

        }
        .loc:hover{
            cursor: pointer;
        }
    }
    .price-right{
        height: 100%;
        width: 48%;
    }
}

.secondary-para{
    font-family: "Noto Sans", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: white;
    text-decoration: none;
}

.cities{
    height: 300px;
    width: 310px;
    background-color: red;
    position: absolute;
    top: 800px;
    left: 0px;
    border: none;
    box-shadow: 1px 1px 10px black inset;
    color: white;
    font-family: "Noto Sans", sans-serif;
    p{
        line-height: 30px;
    }
}

.cities::-webkit-scrollbar{
    width: 10px;
}

.cities::-webkit-scrollbar-track{
    width: 10px;
    background-color: goldenrod;
}
.cities::-webkit-scrollbar-thumb{
    background-color: aquamarine;
    border-radius: 50px;
    box-shadow: 1px 1px 5px 5px burlywood inset;
    height: 100px;
}